<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Mongo Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/saved">Notes</a>
            </li>
            <li>
                <a class="btn btn-danger scrape-new" onclick="location.href='/scrape'">SCRAPE NEW ARTICLES!</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>Mongo Scraper</h1>
        <p>The Onion Edition</p>
    </div>
</div>



<div id="wrapper">
    <div id="articles">
        <div class="container-fluid article-container" id="articleContainer"></div>
    </div>
    <div id="notes"></div>
</div>