<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Notes</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <a href="/saved">Notes</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image">
    </div>
    <div class="caption">
        <h1>Notes</h1>
        <p>Your Saved Article Notes</p>
    </div>
</div>

<div id="wrapper">
    <div id="notes">
        <div class="container-fluid article-container" id="notesContainer"></div>
    </div>
    <div id="notes"></div>
</div>